<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/public/login.css">

</head>

<body>
    <form action="">
        <input type="text" name="userAccount">
        <br>
        <input type="password" name="userPassword">
        <br>
        <button type="button" id="loginButton">&gt;</button>
    </form>
    
    <button type="button" id="registerButton">R</button>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/public/login.js"></script>
</body>

</html>