<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/public/register.css">

</head>

<body>
    <form action="">
        <input type="text" name="userName">
        <br>
        <input type="password" name="userPassword1">
        <br>
        <input type="password" name="userPassword2">
        <br>
        <button id="customer" type="button">C</button>
        <button id="merchant" type="button">M</button>
        <button id="administrator" type="button">A</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/public/register.js"></script>
</body>

</html>