<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Page</title>

    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/customer/shop.css">

</head>
<body>
    <main class="clearfix">
        <form action="" id="nav" class="clearfix">
            <select name="itemType" id="itemType">
                <option value="all" selected>所有</option>
                <option value="food">食品</option>
                <option value="electrical">电器</option>
                <option value="clothes">服装</option>
                <option value="medicine">医药</option>
                <option value="other">其他</option>
                <!--商品种类，待补全-->
            </select>

            &nbsp;&nbsp;&nbsp;&nbsp;

            <input type="text" name="priceMin">
            <span id="priceSymbol">-</span>
            <input type="text" name="priceMax">

            &nbsp;&nbsp;&nbsp;&nbsp;
            
            <input id="searchInfo" type="text" name="itemInfo">
            <button id="searchButton" type="button">检索</button>
        </form>

        <div id="userBlock" class="clearfix">
            <div id="userImage" class="clearfix">?</div>

            <div id="userInformation" class="clearfix">
                <p class="clearfix">@&nbsp;&nbsp;
                    <span id="userName"></span><!--在此填充使用者名称-->
                </p>
                <p class="clearfix">#&nbsp;&nbsp;
                   <span id="userID"></span><!--在此填充使用者ID-->
                </p>
            </div>

            <ol id="userFunction" class="clearfix">
                <li>
                    <a id="wish" href="">购&nbsp;物&nbsp;车</a>
                </li>
                <li>
                    <a id="indent" href="">订单查询</a>
                </li>
                <li>
                    <a id="information" href="">修改信息</a>
                </li>
            </ol>

            <form action="" class="clearfix">
                <button id="exitButton" type="button">&lt;</button>
            </form>
        </div>

        <div id="shopBlock" class="clearfix">
            <div id="shopImage" class="clearfix">!</div>
            <div id="shopInfo" class="clearfix">
                <p>&nbsp;&copy;
                    <span id="shopName"></span><!--在此填充店铺名称-->
                </p>
                <p>&nbsp;#&nbsp;
                    <span id="shopID"></span><!--在此填充店铺ID-->
                </p>
            </div>
            <div id="shopDetial" class="clearfix">
                <p></p><!--在此填充店铺简介-->
            </div>
        </div>
        
        <div id="contentBlock" class="clearfix">
            <ol id="itemList" class="clearfix">
                <!-- <li id="item_1">
                    <div class="itemImage clearfix">!</div>
                    <div class="itemInfo clearfix">
                        <p>&nbsp;
                            <span class="itemName"></span>在此填充商品名称
                        </p>
                        <p>&nbsp;$&nbsp;
                            <span class="itemPrice"></span>在此填充商品价格
                        </p>
                        <p>&nbsp;#&nbsp;
                            <span class="itemID"></span>在此填充商品ID
                        </p>
                    </div>
                    <div class="itemDetial clearfix">
                        <p></p>在此填充商品简介
                    </div>
                    <form action="" class="clearfix">
                        <button class="addButton" type="button">+</button>
                    </form>
                </li> -->
            </ol>
            
            <form action="" class="clearfix">
                <button id="nextButton" type="button">&gt;</button>
                <button id="lastButton" type="button">&lt;</button>
            </form>
        </div>

        <a id="topButton" href="#">#</a>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../static/js/customer/shop.js"></script>
    <script src="../../static/js/public.js"></script>
</body>
</html>